/*  your css code here. If applicable */
#line{
    width:200px;
    height:2px;
    animation:rotate 1s linear infinite;
    background-color: #0e0d0d;
}
.container{
    width:500px;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(-360deg);
    }
}